<div role="contentinfo" class="member-footer">
  <div class="social-links"><a class="social-link" href="https://www.facebook.com/NetflixKR" target="_blank"
      aria-label="facebook"><svg class="svg-icon svg-icon-facebook-logo" focusable="true">
        <use filter="" xlink:href="#facebook-logo"></use>
      </svg></a><a class="social-link" href="https://www.instagram.com/netflixkr/" target="_blank"
      aria-label="instagram"><svg class="svg-icon svg-icon-instagram-logo" focusable="true">
        <use filter="" xlink:href="#instagram-logo"></use>
      </svg></a><a class="social-link" href="https://twitter.com/netflixkr" target="_blank" aria-label="twitter"><svg
        class="svg-icon svg-icon-twitter-logo" focusable="true">
        <use filter="" xlink:href="#twitter-logo"></use>
      </svg></a><a class="social-link" href="https://www.youtube.com/channel/UCiEEF51uRAeZeCo8CJFhGWw/featured"
      target="_blank" aria-label="youtube"><svg class="svg-icon svg-icon-youtube-logo" focusable="true">
        <use filter="" xlink:href="#youtube-logo"></use>
      </svg></a></div>
  <ul class="member-footer-links">
    <li class="member-footer-link-wrapper"><a class="member-footer-link" href="/browse/subtitles"><span
          class="member-footer-link-content">자막 및 음성</span></a></li>
    <li class="member-footer-link-wrapper"><a class="member-footer-link" href="/browse/audio-description"><span
          class="member-footer-link-content">음성 지원</span></a></li>
    <li class="member-footer-link-wrapper"><a class="member-footer-link" href="https://help.netflix.com/"><span
          class="member-footer-link-content">고객 센터</span></a></li>
    <li class="member-footer-link-wrapper"><a class="member-footer-link" href="/redeem"><span
          class="member-footer-link-content">기프트카드</span></a></li>
    <li class="member-footer-link-wrapper"><a class="member-footer-link" href="https://media.netflix.com/"><span
          class="member-footer-link-content">미디어 센터</span></a></li>
    <li class="member-footer-link-wrapper"><a class="member-footer-link" href="http://ir.netflix.com/"><span
          class="member-footer-link-content">투자 정보(IR)</span></a></li>
    <li class="member-footer-link-wrapper"><a class="member-footer-link" href="https://jobs.netflix.com/"><span
          class="member-footer-link-content">입사 정보</span></a></li>
    <li class="member-footer-link-wrapper"><a class="member-footer-link"
        href="https://help.netflix.com/legal/termsofuse"><span class="member-footer-link-content">이용 약관</span></a></li>
    <li class="member-footer-link-wrapper"><a class="member-footer-link"
        href="https://help.netflix.com/legal/privacy"><span class="member-footer-link-content">개인정보</span></a></li>
    <li class="member-footer-link-wrapper"><a class="member-footer-link"
        href="https://help.netflix.com/legal/notices"><span class="member-footer-link-content">법적 고지</span></a></li>
    <li class="member-footer-link-wrapper"><a class="member-footer-link" href="/Cookies"><span
          class="member-footer-link-content">쿠키 설정</span></a></li>
    <li class="member-footer-link-wrapper"><a class="member-footer-link"
        href="https://help.netflix.com/support/2101"><span class="member-footer-link-content">회사 정보</span></a></li>
    <li class="member-footer-link-wrapper"><a class="member-footer-link" href="https://help.netflix.com/contactus"><span
          class="member-footer-link-content">문의하기</span></a></li>
  </ul>
  <div class="member-footer-service"><button class="service-code">서비스 코드</button></div>
  <div class="member-footer-copyright">
    <div class="copy-text">넷플릭스서비시스코리아 유한회사 통신판매업신고번호: 제2015-서울중구-1407호</div><span
      class="member-footer-copyright-instance">{i-009b581cb3c015c87}</span>
  </div>
</div>
