.slider {
  width: 88vw;
  max-width: 1320px;
  overflow: hidden;
  margin: 0 auto;
}

.slider {
  -webkit-transition: -webkit-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  transition: -webkit-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  -o-transition: -o-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  -moz-transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -moz-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -webkit-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -moz-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -o-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

/* 슬라이더 */
.slider .sliderMask.showPeek {
  overflow-x: visible;
}

.slider .sliderMask {
  overflow-x: hidden;
  padding-bottom: 1px;
}

.slider .sliderMask .sliderContent {
  white-space: nowrap;
}

.slider .sliderMask .sliderContent .slider-item:first-child {
  padding-left: 0;
}

.slider .sliderMask .sliderContent .slider-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
  display: inline-block;
  position: relative;
  white-space: normal;
  vertical-align: top;
  padding: 0 2px;
}

.lolopi-row-medium .lolopi-icon {
  height: 13.66vw;
  width: 13.66vw;
}

.lolopi-icon {
  height: 10vw;
  width: 10vw;
  max-height: 200px;
  max-width: 200px;
  min-height: 40px;
  min-width: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center;
  margin: 0 0.4vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid transparent;
}

.lolopi-icon:hover {
  border: 2px solid rgba(255, 255, 255, 0.3);
}

/* 왼쪽 오른쪽 이동 버튼 */
.slider .handle {
  background: rgba(20, 20, 20, 0.5);
}

.slider:hover .handle.active:hover {
  background: rgba(20, 20, 20, 0.7);
}

.slider .handle.active {
  cursor: pointer;
}

.slider .handle {
  position: absolute;
  top: 0.4vw;
  bottom: 0;
  z-index: 20;
  width: 4%;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.slider .contain .handleNext {
  /* background: -webkit-gradient(linear,
      right top,
      left top,
      from(#141414),
      to(rgba(20, 20, 20, 0.4)));
  background: -webkit-linear-gradient(to left,
      #141414 0,
      rgba(20, 20, 20, 0.4) 100%);
  background: -moz- oldlinear-gradient(right, #141414 0, rgba(20, 20, 20, 0.4) 100%);
  background: -o-linear-gradient(right, #141414 0, rgba(20, 20, 20, 0.4) 100%); */
  background: linear-gradient(to left, #141414 0, rgba(20, 20, 20, 0.4) 100%);
}

/* icon? */

.icon-rightCaret:before {
  content: "\e867";
}


/* 미디어 screen */
@media screen and (min-width: 1500px) {
  .slider .handle {
    width: 60px;
  }

  .lolopi-icon {
    height: 150px;
    width: 150px;
    /* margin: 0 7.5px; */
  }


}

/* @media screen and (min-width: 1400px) {
  .slider .row-with-x-columns .slider-item {
     width: 16.66666667%;
  }
} */

@media screen and (max-width: 1399px) and (min-width: 1100px) {
  .slider .row-with-x-columns .slider-item {
    width: 20%;
  }
}

@media screen and (max-width: 1099px) and (min-width: 800px) {
  .slider .row-with-x-columns .slider-item {
    width: 25%;
  }
}

@media screen and (max-width: 799px) and (min-width: 500px) {
  .slider .row-with-x-columns .slider-item {
    width: 33.333333%;
  }
}
