<div class="basicLayout nmLanding dark">
  <div class="nfHeader signupBasicHeader">
    <a routerLink="/welcome" class="logo signupBasicHeader">
      <img src="../../../assets/images/fastflix_logo_03.png" alt="Fastflix" />
    </a>
    <a routerLink="/login" class="authLinks signupBasicHeader">로그인 </a>
  </div>
  <div class="home-wrapper dark" data-uia="home-wrapper">
    <div class="concord concord-with-tin concord-with-title is-former-member">
      <div class="wrap">
        <div class="bg" id="main-creative" data-uia="main-creative">
          <div data-uia="multiimage-comp" class="creative-wrapper">
            <div class="image active">
              <div class="concord-img-wrapper" data-uia="concord-img-wrapper">
                <img
                  class="concord-img vlv-creative"
                  src="https://assets.nflxext.com/ffe/siteui/vlv3/ba64c2ca-d0e9-4216-8d92-d0dc621ad5be/39fe941e-6b13-4553-9cd2-c7aa02efcebd/KR-ko-20190715-popsignuptwoweeks-perspective_alpha_website_small.jpg"
                  srcset="
                    https://assets.nflxext.com/ffe/siteui/vlv3/ba64c2ca-d0e9-4216-8d92-d0dc621ad5be/39fe941e-6b13-4553-9cd2-c7aa02efcebd/KR-ko-20190715-popsignuptwoweeks-perspective_alpha_website_small.jpg  1000w,
                    https://assets.nflxext.com/ffe/siteui/vlv3/ba64c2ca-d0e9-4216-8d92-d0dc621ad5be/39fe941e-6b13-4553-9cd2-c7aa02efcebd/KR-ko-20190715-popsignuptwoweeks-perspective_alpha_website_medium.jpg 1500w,
                    https://assets.nflxext.com/ffe/siteui/vlv3/ba64c2ca-d0e9-4216-8d92-d0dc621ad5be/39fe941e-6b13-4553-9cd2-c7aa02efcebd/KR-ko-20190715-popsignuptwoweeks-perspective_alpha_website_large.jpg  1800w
                  "
                  alt=""
                />
                <div class="concord-img-gradient"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="cta-wrapper">
          <div class="cta-text">
            <h1 class="cta-pitch">언제 어디서나 자유롭게</h1>
            <p class="cta-pricing">
              다양한 디바이스에서 시청하고 부담 없이 해지하세요.
            </p>
          </div>
          <div></div>
          <div class="cta-link-wrapper">
            <a routerLink="/signup"
              ><button
                class="btn hero-cta-btn btn-large btn-red"
                autocomplete="off"
                tabindex="0"
              >
                <span class="hero-cta-btn-txt">회원가입</span>
              </button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

<!-- <div class="our-story-container">
  <div class="our-story-header-wrapper ">
    <header class="our-story-header">
      <a routerLink="/welcome" class="logo">
        <img src="../../../assets/images/fastflix_logo_03.png" alt="Fastflix">
      </a>
      <a routerLink="/login" class="authLinks redButton">로그인</a>
    </header>
  </div>
  <div class="our-story-cards">
    <div class="our-story-card story-info">
      <div class="our-story-card-background">
        <div class="concord-img-wrapper" data-uia="concord-img-wrapper"><img class="concord-img vlv-creative"
            src="https://assets.nflxext.com/ffe/siteui/vlv3/ba64c2ca-d0e9-4216-8d92-d0dc621ad5be/39fe941e-6b13-4553-9cd2-c7aa02efcebd/KR-ko-20190715-popsignuptwoweeks-perspective_alpha_website_small.jpg"
            srcset="https://assets.nflxext.com/ffe/siteui/vlv3/ba64c2ca-d0e9-4216-8d92-d0dc621ad5be/39fe941e-6b13-4553-9cd2-c7aa02efcebd/KR-ko-20190715-popsignuptwoweeks-perspective_alpha_website_small.jpg 1000w, https://assets.nflxext.com/ffe/siteui/vlv3/ba64c2ca-d0e9-4216-8d92-d0dc621ad5be/39fe941e-6b13-4553-9cd2-c7aa02efcebd/KR-ko-20190715-popsignuptwoweeks-perspective_alpha_website_medium.jpg 1500w, https://assets.nflxext.com/ffe/siteui/vlv3/ba64c2ca-d0e9-4216-8d92-d0dc621ad5be/39fe941e-6b13-4553-9cd2-c7aa02efcebd/KR-ko-20190715-popsignuptwoweeks-perspective_alpha_website_large.jpg 1800w"
            alt="">
          <div class="concord-img-gradient"></div>
        </div>
      </div>
      <div class="our-story-card-text">
        <h1 class="our-story-card-title">패스트플릭스의 모든 것.</h1>
        <h1 class="our-story-card-title">지금부터 함께 하세요.</h1>
      </div>
      <div class="buttons our-story-cta-container">
        <a routerLink="/signup"
          class="btn our-story-cta our-story-cta-default our-story-cta-extra-large our-story-cta-chevron our-story-cta-normal-weight btn-red btn-large"><span
            class="hero-cta-btn-txt">회원가입</span><span id="" class="chevron-right-arrow"><svg viewBox="0 0 6 12"
              xmlns="http://www.w3.org/2000/svg">
              <desc>chevron</desc>
              <path d="M.61 1.312l.78-.624L5.64 6l-4.25 5.312-.78-.624L4.36 6z" fill="none" fill-rule="evenodd"></path>
            </svg></span>
        </a>
      </div>
    </div>
  </div>
</div> -->
