<header>
  <div class="header-container">
    <nav class="main-header">
      <a routerLink="/home" class="logo icon-logoUpdate" routerLinkActive="active"></a>
      <ul class="main-navigation">
        <li class="navigation-tab"><a routerLink="/home" routerLinkActive="current">홈</a></li>
        <li class="navigation-tab"><a routerLink="/movie" routerLinkActive="current">영화</a></li>
      </ul>
      <ul class="second-navigation">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </nav>
  </div>
</header>
