:host {
  display: block;
  width: 100%;
  height: 70px;
  line-height: 1.4;
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.header-container {
  left: 0;
  right: 0;
  top: 0;
  position: relative;
  z-index: 1
}

.header-container .main-header {
  z-index: 2;
  height: 41px
}

@media screen and (min-width: 950px) {
  .header-container .main-header {
    height: 68px
  }
}

.main-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 4%;
  z-index: 2;
  font-size: 1.2rem;
  transition: background-color .4s
}

@media screen and (min-width: 1200px) {
  .pinning-header .main-header {
    font-size: 14px
  }
}

@media screen and (min-width: 1500px) {
  .pinning-header .main-header {
    padding: 0 60px
  }
}

/* https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.woff */

.main-header .logo {
  text-decoration: none;
  font-size: 1.8em;
  color: #e50914;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px
}

@media screen and (min-width: 950px) {
  .main-header .logo {
    font-size: 25px
  }
}

@media screen and (min-width: 1150px) {
  .main-header .logo {
    margin-right: 25px
  }
}

.main-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.main-navigation .navigation-tab {
  margin-left: 20px;
}

.main-navigation .navigation-tab a.current {
  color: #fff;
  font-weight: 700;
  cursor: default;
}

.main-navigation .navigation-tab a {
  position: relative;
  color: #e5e5e5;
  transition: color .4s;
  display: flex;
  align-items: center;
  height: 100%;
}
