:host {
  display: block;
  width: 100%;
  height: 70px;
  line-height: 1.4;
  background: transparent;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.header-container {
  left: 0;
  right: 0;
  top: 0;
  position: relative;
  z-index: 1;
  transition: all ease 1.5s;
}

.header-container .main-header {
  z-index: 2;
  height: 41px
}

@media screen and (min-width: 950px) {
  .header-container .main-header {
    height: 68px
  }
}

.main-header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 4%;
  z-index: 2;
  font-size: 1.2rem;
  transition: background-color .4s
}

@media screen and (min-width: 1200px) {
  .header-container .main-header {
    font-size: 14px
  }
}

@media screen and (min-width: 1500px) {
  .header-container .main-header {
    padding: 0 60px
  }
}

/* https://assets.nflxext.com/ffe/siteui/fonts/nf-icon-v1-93.woff */

.main-header .logo {
  text-decoration: none;
  font-size: 1.8em;
  color: #e50914;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px
}

@media screen and (min-width: 950px) {
  .main-header .logo {
    font-size: 25px
  }
}

@media screen and (min-width: 1150px) {
  .main-header .logo {
    margin-right: 25px
  }
}

.main-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.main-navigation .navigation-tab {
  margin-left: 20px;
}

.main-navigation .navigation-tab a {
  position: relative;
  color: #e5e5e5;
  transition: color .4s;
  display: flex;
  align-items: center;
  height: 100%;
}

.pinning-header .navigation-tab a:hover {
  color: #b3b3b3;
}


.main-navigation .navigation-tab a.current {
  color: #fff;
  font-weight: 700;
  cursor: default;
}

.pinning-header .secondary-navigation {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: flex-end;
  position: absolute;
  right: 4%;
  top: 0;
  height: 100%;
}

.pinning-header .secondary-navigation .nav-element:not(:last-child) {
  margin-right: 15px;
}

.searchBox {
  display: inline-block;
  vertical-align: middle;
}

.searchTab {
  display: inline-block;
  cursor: pointer;
  border: none;
  background: 0 0;
}

.searchTab span {
  line-height: 1;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}

.searchTab .icon-search {
  font-size: 12px;
  font-weight: 700;
  margin-right: 10px;
}

.pinning-header .secondary-navigation .icon-search {
  vertical-align: middle;
}

.pinning-header .secondary-navigation:not(.menu-navigation) .icon-search {
  font-size: 1.3em;
  margin-right: 0;
}

.pinning-header .account-menu-item {
  display: block;
  position: relative;
  font-size: 12px;
  z-index: 0;
}

.pinning-header .account-dropdown-button {
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 950px) {
  .pinning-header .account-dropdown-button {
    height: 40px;
  }
}

.pinning-header .account-dropdown-button a {
  z-index: -1;
  position: relative;
}

.pinning-header .account-dropdown-button .profile-link {
  position: relative;
  display: flex;
  align-items: center;
}

.pinning-header .account-dropdown-button .profile-icon {
  vertical-align: middle;
  height: 32px;
  width: 32px;
}

@media screen and (max-width: 950px) {
  .pinning-header .account-dropdown-button .profile-icon {
    width: 40px;
    height: 40px;
  }
}

.pinning-header .secondary-navigation .nav-element a {
  display: block;
}

.pinning-header .account-drop-down {
  position: absolute;
  right: 0;
  top: 52px;
  width: 166px;
  margin-left: 0;
  padding: 0;
  padding-top: 7px;

  opacity: 0;
  transition-duration: 150ms;
}

/* @media screen and (max-width: 950px) {
  .pinning-header .account-drop-down {
    top: 59px;
  }
} */

.sub-menu.theme-lakira {
  box-sizing: border-box;
  top: 71px;
  position: absolute;
  background-color: rgba(0, 0, 0, .9);
  color: #fff;
  font-size: 13px;
  line-height: 21px;
  border: solid 1px rgba(255, 255, 255, .15);
  cursor: default;
  opacity: 0;
}

.sub-menu.theme-lakira div {
  box-sizing: border-box;
}

.pinning-header .account-drop-down .sub-menu-list {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
}

.pinning-header .account-drop-down .profiles {
  height: auto;
  padding: 10px 0 5px 0;
  overflow: hidden;
}

.pinning-header .account-drop-down .sub-menu-item {
  padding: 5px 10px;
  display: block;
  font-size: 13px;
  line-height: 16px;
}

.pinning-header .account-drop-down .profiles .sub-menu-item {
  line-height: 32px;
}

.pinning-header .account-drop-down .profiles .profile-link {
  cursor: pointer;
}

.pinning-header .secondary-navigation .nav-element a {
  display: block;
}

.pinning-header .account-menu-item .avatar-wrapper {
  display: inline;
}

.pinning-header .account-dropdown-button .caret {
  margin-left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #fff transparent transparent transparent;
}

.pinning-header .secondary-navigation:not(.menu-navigation).search-focused .searchBox {
  margin-left: 100px
}

.akira-header .account-drop-down .profiles .profile-icon,
.pinning-header .account-drop-down .profiles .profile-icon {
  margin-right: 10px;
  vertical-align: middle;
  height: 32px;
  width: 32px;
}

.pinning-header .account-drop-down .profiles .profile-name {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
  line-height: 18px;
  vertical-align: middle;
  display: inline-block;
  white-space: pre;
}

.pinning-header .account-drop-down .profiles .profile-link:hover .profile-name {
  text-decoration: underline;
}

.pinning-header .account-drop-down .sub-menu-item>a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 950px) {
  .pinning-header .account-drop-down .profiles .profile-name {
    display: inline-block;
  }
}

.sub-menu.theme-lakira .sub-menu-link {
  text-transform: none;
  display: inline-block;
  width: 100%;
  color: #fff;
}

.pinning-header .account-drop-down .sub-menu-item>a {
  text-transform: none;
  display: inline-block;
  width: 100%;
}

.pinning-header .account-drop-down .sub-menu-list {
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  height: auto;
}

.pinning-header .account-drop-down .responsive-links {
  display: none;
  padding: 10px 0;
  border-top: solid 1px rgba(255, 255, 255, .25);
}

@media screen and (max-width: 1100px) {
  .pinning-header .secondary-navigation:not(.menu-navigation) .account-drop-down .responsive-links {
    display: block;
  }
}

.pinning-header .account-drop-down .account-links {
  padding: 10px 0;
  border-top: solid 1px rgba(255, 255, 255, .25);
}

.pinning-header .account-menu-item .avatar-wrapper {
  display: inline;
}

.pinning-header .account-dropdown-button .avatar-wrapper {
  position: relative;
}

.pinning-header .account-dropdown-button .callout-arrow {
  position: absolute;
  bottom: -19px;
  left: 50%;
  border-width: 7px;
  margin-left: -7px;
  border-color: transparent transparent #e5e5e5;
  border-style: solid;
  height: 0;
  width: 0;
  padding: 10px 0;

  opacity: 0;
  transition-duration: 150ms;
}
