.slider {
  z-index: 2;
  /* overflow-x: hidden; */
  position: relative;
  margin: 0;
  padding: 0.4% 4%;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}
.slider {
  -webkit-transition: -webkit-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  transition: -webkit-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  -o-transition: -o-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  -moz-transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -moz-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
  transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -webkit-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -moz-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -o-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

.slider .sliderContent:not(.animating) .sliderItemHidden {
  display: none;
}

/* 오른쪽 상단 sllider tab */
.pagination-indicator {
  margin: -24px 0 12px 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 4.2%;
  right: 4%;
  display: block;
}
.pagination-indicator li {
  display: inline-block;
  width: 12px;
  height: 2px;
  background-color: #4d4d4d;
  margin-left: 1px;
}
.pagination-indicator .active {
  background-color: #aaa;
}

/* 슬라이더 */
.slider .sliderMask.showPeek {
  overflow-x: visible;
}
.slider .sliderMask {
  overflow-x: hidden;
  padding-bottom: 1px;
}
.slider .sliderMask .sliderContent {
  white-space: nowrap;
}

.slider .sliderMask .sliderContent .slider-item:first-child {
  padding-left: 0;
}

.slider .sliderMask .sliderContent .slider-item {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1;
  display: inline-block;
  position: relative;
  white-space: normal;
  vertical-align: top;
  padding: 0 2px;
}
.slider-item:hover {
  width: 500px;
}

.title-card:not(.loadingTitle) {
  display: block;
}
.title-card {
  position: relative;
  z-index: 1;
  cursor: pointer;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
}

.boxart-size-16x9 {
  width: 100%;
  height: 0;
  position: relative;
  overflow: hidden;
  padding: 28.125% 0;
}

.boxart-image-in-padded-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
img {
  border: 0;
}
/* hover시 좌우 이동 */
.toRight {
  transform: translate3d(253px, 0px, 0px);
  transition: transform ease 540ms;
  transition-delay: 0ms;
}
.toLeft {
  transform: translate3d(-251px, 0px, 0px);
  transition: transform ease 500ms;
  transition-delay: 0ms;
}

.toRight1 {
  transform: translate3d(126px, 0px, 0px);
  transition: transform ease 500ms;
  transition-delay: 0ms;
}

.toLeft1 {
  transform: translate3d(-126px, 0px, 0px);
  transition: transform ease 500ms;
  transition-delay: 0ms;
}

/* 왼쪽 오른쪽 이동 버튼 */
.slider .handle {
  background: rgba(20, 20, 20, 0.5);
}
.slider:hover .handle.active:hover {
  background: rgba(20, 20, 20, 0.7);
}
.slider .handle.handlePrev {
  left: 0;
}
.slider .handle.handleNext {
  right: 0;
}
.slider .handle.active {
  cursor: pointer;
}
.slider .handle {
  position: absolute;
  top: 0.4vw;
  bottom: 0;
  z-index: 20;
  width: 4%;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}
/* icon? */
.slider .handle.handlePrev .indicator-icon {
  -webkit-transform-origin: 55% 50%;
  -moz-transform-origin: 55% 50%;
  -ms-transform-origin: 55% 50%;
  -o-transform-origin: 55% 50%;
  transform-origin: 55% 50%;
}

/* hover section */
.bob-card {
  position: absolute;
  visibility: hidden;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
}
.bobup {
  /* transform: scale(0.99999); */
  visibility: visible;
  width: 195%;
  height: 195%;
  top: -47.5%;
  /* transition-duration: 400ms; */
  transition: transform ease 400ms;
}
.bob-card-adult .bob-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.bob-card-adult .bob-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}
.image-rotator-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0;
}
.image-rotator-style {
  background-image: url("https://occ-0-3446-1007.1.nflxso.net/dnm/api/v6/E8vDc_W8CLv7-yMQu8KMEC7Rrr8/AAAABdvpnlBIYGz5D8NBxb3CHkzv1eakMMx3gzI7kESmy-QiExgsYK7Kn8bQRFr40IrxgbCMGSGDGJ53t00PIq3zPC59kxhe9_3JHg.webp?r=42b");
  z-index: 2;
  opacity: 1;
  transition-duration: 750ms;
}
.bob-card-adult .bob-overlay {
  position: absolute;
  top: 0;
  left: -2px;
  right: -2px;
  bottom: -2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: solid 1px #141414;
  padding: 0 2% 2% 2.5%;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 33%,
    rgba(0, 0, 0, 0.85) 100%
  );
  background-image: -moz-
    oldlinear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0) 33%,
      rgba(0, 0, 0, 0.85) 100%
    );
  background-image: -o-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 33%,
    rgba(0, 0, 0, 0.85) 100%
  );
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0) 33%,
    rgba(0, 0, 0, 0.85) 100%
  );
}
.bob-card-adult .bob-play-hitzone {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  height: 80%;
}

/* hover상세 정보 */
.bob-card-adult-video-merch .bob-overview-wrapper {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 90%;
  -moz-box-flex: 0;
  -ms-flex: 0 1 90%;
  flex: 0 1 90%;
  max-width: 88%;
}
.bob-overview {
  text-align: left;
  pointer-events: none;
}
.bob-overview .bob-play-button {
  width: 2.5vw;
  height: 2.5vw;
  position: relative;
  display: inline-block;
}
.bob-overview .bob-title {
  line-height: 1.4;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0.3em;
  font-size: 1vw;
}
.bob-overview .bob-metadata-wrapper {
  margin-bottom: 0.2em;
}
.video-meta--bob-overview {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  font-size: 0.8vw;
}
.video-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.video-meta > span {
  margin-right: 0.5em;
  margin-bottom: 0.3vw;
}
.match-score-wrapper {
  color: #fff;
}

.match-score-wrapper .rating-inner {
  -webkit-transition: margin-right 550ms cubic-bezier(0.86, 0, 0.07, 1) 1.65s;
  -o-transition: margin-right 550ms cubic-bezier(0.86, 0, 0.07, 1) 1.65s;
  -moz-transition: margin-right 550ms cubic-bezier(0.86, 0, 0.07, 1) 1.65s;
  transition: margin-right 550ms cubic-bezier(0.86, 0, 0.07, 1) 1.65s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.match-score-wrapper .match-score {
  font-weight: 700;
  color: #46d369;
  display: inline-block;
  white-space: nowrap;
}
.match-score-wrapper .show-match-score .match-score {
  max-width: 300px;
  opacity: 1;
  -webkit-transition: max-width 550ms cubic-bezier(0.86, 0, 0.07, 1) 1.65s,
    opacity 150ms linear 2.2s;
  -o-transition: max-width 550ms cubic-bezier(0.86, 0, 0.07, 1) 1.65s,
    opacity 150ms linear 2.2s;
  -moz-transition: max-width 550ms cubic-bezier(0.86, 0, 0.07, 1) 1.65s,
    opacity 150ms linear 2.2s;
  transition: max-width 550ms cubic-bezier(0.86, 0, 0.07, 1) 1.65s,
    opacity 150ms linear 2.2s;
}

.maturity-rating {
  display: inline-block;
}
/* 키워드 */
.evidence-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-grid-column-align: flex-start;
  justify-items: flex-start;
  margin: 0;
  padding: 0;
}
.evidence-list .evidence-item .evidence-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0.5vw;
}
/* 미디어 screen */
@media screen and (min-width: 1400px) {
  .slider .row-with-x-columns .slider-item {
    width: 16.66666667%;
  }
  .bob-overview .bob-title {
    font-size: 1.2vw;
  }
  .video-meta--bob-overview {
    font-size: 0.96vw;
  }
  .evidence-text {
    font-size: 0.96vw;
  }
}
@media screen and (min-width: 1500px) {
  .pagination-indicator {
    right: 62px;
  }

  .slider .handle {
    width: 60px;
  }
  .slider .handle > .indicator-icon {
    font-size: 2em;
  }

  .slider {
    padding: 0.4% 60px;
  }
}
@media screen and (max-width: 1399px) and (min-width: 1100px) {
  .slider .row-with-x-columns .slider-item {
    width: 20%;
  }
}
@media screen and (max-width: 1099px) and (min-width: 800px) {
  .slider .row-with-x-columns .slider-item {
    width: 25%;
  }
}
@media screen and (max-width: 799px) and (min-width: 500px) {
  .slider .row-with-x-columns .slider-item {
    width: 33.333333%;
  }
}
