<app-header></app-header>
<div class="thanos" role="main">
  <h1 class="visually-hidden">Fastflix 홈</h1>
  <span class="billboard-animations-container">
    <div class="billboardow" role="region" aria-label="특별 소개 콘텐츠">

    </div>
  </span>
  <div class="thanosRow thanosTitleCard">
    <h2 class="rowHeader">
      <span class="rowTitle">
        <div class="rowHeaderTitle">
          Fastflix 인기 콘텐츠
        </div>
      </span>
    </h2>
    <div class="rowContainer"></div>
  </div>
  <div class="thanosRow thanosTitleCard">
    <h2 class="rowHeader">
      <span class="rowTitle">
        <div class="rowHeaderTitle">
          내가 찜한 콘텐츠
        </div>
      </span>
    </h2>
    <div class="rowContainer"></div>
  </div>
  <div class="thanosRow thanosTitleCard thanosBigRow">
    <div class="bigRow">

    </div>
  </div>
  <div class="thanosRow thanosTitleCard">
    <h2 class="rowHeader">
      <span class="rowTitle">
        <div class="rowHeaderTitle">최신 등록 콘텐츠</div>
      </span>
    </h2>
    <div class="rowContainer rowContainerTitleCard"></div>
  </div>
  <div class="thanosRow thanosTitleCard">
    <h2 class="rowHeader">
      <span class="rowTitle">
        <div class="rowHeaderTitle">{{user}} 님이 시청 중인 콘텐츠</div>
      </span>
    </h2>
    <div class="rowContainer rowContainerTitleCard"></div>
  </div>
  <div class="thanosRow thanosTitleCard originalsRow">
    <h2 class="rowHeader">
      <span class="rowTitle">
        <div class="rowHeaderTitle">Fastflix 오리지널</div>
      </span>
    </h2>
    <div class="rowContainer rowContainerTitleCard"></div>
  </div>
  <div class="thanosRow thanosTitleCard">
    <h2 class="rowHeader">
      <span class="rowTitle">
        <div class="rowHeaderTitle">영화</div>
      </span>
    </h2>
    <div class="rowContainer rowContainerTitleCard"></div>
  </div>
</div>
<app-footer></app-footer>
