<div class="slider">
  <div class="sliderMask">
    <div class="sliderContent row-with-x-columns">
      <div
        *ngFor="let similar of similarContent; index as similarIdx"
        class="slider-item slider-item-{{ similarIdx }}"
      >
        <!-- card -->
        <div class="simsLockup slider-refocus" tabindex="-1">
          <div class="ptrack-content">
            <div
              class="video-artwork sims-artwork"
              [ngStyle]="{
                'background-image':
                  'url(' + similar?.horizontal_image_path + ')'
              }"
            >
              <a
                tabindex="0"
                data-uia="play-button"
                role="link"
                aria-label="재생"
                class="simsPlay playLink"
                *ngIf="similar"
                [routerLink]="['/watch', similar?.id]"
              >
                <div class="playRing">
                  <div class="play icon-play"></div>
                </div>
              </a>
              <a
                role="button"
                aria-live="assertive"
                tabindex="0"
                class="nf-icon-button mylist-button"
                (mouseover)="onHover($event.target)"
                (mouseout)="onLeave($event.target)"
                (click)="myList([$event.target, similar])"
              >
                <span
                  role="presentation"
                  class="nf-icon-button-icon"
                  [class.icon-button-mylist-add]="!similar?.marked"
                  [class.icon-button-mylist-added]="similar?.marked"
                >
                </span>
                <span class="nf-icon-button-tooltip"> </span>
              </a>
            </div>
          </div>
          <div class="meta video-meta ">
            <span class="match-score-wrapper">
              <div class="show-match-score rating-inner">
                <div class="meta-thumb-container thumb-down">
                  <svg
                    class="svg-icon svg-icon-thumb-down-filled thumb thumb-down-filled"
                    focusable="true"
                  >
                    <use filter="" xlink:href="#thumb-down-filled"></use>
                  </svg>
                </div>
                <div class="meta-thumb-container thumb-up">
                  <svg
                    class="svg-icon svg-icon-thumb-up-filled thumb thumb-up-filled"
                    focusable="true"
                  >
                    <use filter="" xlink:href="#thumb-up-filled"></use>
                  </svg>
                </div>

                <span class="match-score">
                  70% 일치
                </span>
              </div>
            </span>
            <span class="year">
              {{ similar?.production_date }}
            </span>
            <span class="maturity-rating ">
              <span>
                <svg
                  class="svg-icon svg-icon-maturity-rating-KR-KMRB-35"
                  focusable="true"
                >
                  <use filter="" xlink:href="#maturity-rating-KR-KMRB-35"></use>
                </svg>
              </span>
            </span>
            <span class="duration">
              1시간 34분
            </span>
          </div>
          <div class="simsSynopsis">
            {{ similar?.synopsis }}
          </div>
        </div>
        <!-- card finish -->
        <!-- handle prev -->
        <!-- <span
          class="handle handleNext active"
          tabindex="0"
          role="button"
          aria-label="콘텐츠 더 보기"
        >
          <b class="indicator-icon icon-rightCaret"> </b>
        </span> -->
      </div>
    </div>
  </div>
</div>
