<div class="container">
  <div (click)="historyBack()" [class.user-inactive]="isInactive" class="back-arrow user-inactive">
    <img alt="뒤로가기" src="https://www.materialui.co/materialIcons/navigation/arrow_back_white_36x36.png">
  </div>
  <div class="pause-message pause-current-movie" [class.pause-current-movie]="pauseMovie">
    <div class="movie-info">
      <p>시청 중인 콘텐츠</p>
      <h1 class="movie-title">{{ movieTitle }}</h1>
      <span class="made-year">{{ madeYear }}</span>
      <span class="age-limit">{{ ageLimit }}</span>
      <span class="running-time">{{ runningTime }}</span>
      <p class="movie-intro">{{ movieIntro }}</p>
    </div>
    <p>일시 중지됨</p>
  </div>
  <!-- <div (click)="moveBack()" class="play-back">
    <i class="material-icons">
    replay_10
    </i>
  </div>
  <div (click)="moveForward()" class="play-forward">
    <i class="material-icons">
    forward_10
    </i>
  </div> -->
  <video (keyup.arrowright)="moveForward($event)" (keyup.arrowleft)="moveBack($event)" 
          #myvid id="my-video" class="video-js vjs-matrix vjs-fluid"
          [poster]="poster" (pause)="isInactive = false" (play)="playVideo()" (pause)="pauseVideo()" (play)="pauseMovie = false">
    <source [src]="video" type="video/mp4"> 
  </video>
</div>
