@import "https://fonts.googleapis.com/icon?family=Material+Icons";

.container {
  align-items: center;
  justify-content: center;
  margin: auto 0;
}

.vjs-matrix.video-js {
  color: white;
  font-size: 16px;
  font-family: inherit;
}

.back-arrow {
  position: absolute;
  z-index: 1;
  margin: 15px;
  cursor: pointer;
  visibility: visible;
  opacity: 1;
  transition: visibility 0.1s, opacity 0.1s;
}

.user-inactive {
  visibility: visible;
  opacity: 0;
  transition: visibility 1s, opacity 1s;
}

.pause-message {
  position: absolute;
  max-width: 400px;
  max-height: 300px;
  font-size: 1.7em;
  margin: 5em 8em;
  z-index: 1;
  visibility: visible;
  opacity: 0;
  transition: visibility 1s, opacity 1s;
}

.pause-current-movie {
  visibility: visible;
  opacity: 1;
  transition: visibility 1s, opacity 1s;
}

.movie-info {
  text-align: left;
}

.movie-title {
  font-size: 3em;
  font-weight: 800;
  margin: 15px 0;
}

.movie-info > p {
  margin-top: 15px;
}

.pause-message > p {
  margin-top: 50px;
  text-align: right;
}

.movie-info span {
  font-size: 1.7em;
}

.age-limit {
  margin: auto 15px;
}