::ng-deep div>router-outlet~* {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

::ng-deep div>router-outlet~app-signup {
  position: static;
}

::ng-deep div>router-outlet~app-signup router-outlet~* {
  position: static;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  padding-top: 91px;
}
