::ng-deep div>router-outlet~* {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 70px;
}

::ng-deep div>router-outlet~app-signup {
  position: static;
}

::ng-deep div>router-outlet~app-signup router-outlet~* {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  padding-top: 91px;
}

::ng-deep div>router-outlet~app-login {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  padding-top: 0px;
}
