<div class="simpleContainer" data-transitioned-child="true">
  <div class="centerContainer contextStep">
    <div class="regContainer" data-uia="context-registration">
      <div class="stepLogoContainer"><span class="stepLogo regStepLogo"></span></div>
      <div class="stepHeader-container" data-uia="header">
        <div class="stepHeader"><span class="stepIndicator"><b>1</b>/<b>2단계</b></span>
          <h1 class="stepTitle" data-uia="stepTitle">계정을 등록하세요.</h1>
        </div>
      </div>
      <div class="contextBody contextRow">맞춤형 콘텐츠 서비스, 패스트플릭스! ID와 비밀번호를 설정하여 다⁠양⁠한 디⁠바⁠이⁠스⁠에⁠서 Fastflix⁠를 시⁠청⁠하⁠세⁠요.
      </div>
    </div>
    <div class="submitBtnContainer"><a routerLink="/signup/step2"><button type="button" autocomplete="off"
          class="nf-btn nf-btn-primary nf-btn-solid nf-btn-oversize" data-uia="cta-continue-registration"
          placeholder="registration_button_continue">다음</button></a></div>
  </div>
</div>
