<p>profile works!</p>
<div class="pinning-header on-profiles-gate">
  <div class="main-header on-profiles-gate" role="navigation">
  </div>
</div>
<div class="profiles-gate-container">
  <div class="list-profiles">
    <div class="profile-gate-label">Fastflix를 시청할 프로필을 선택하세요.</div>
    <div>
      <ul class="choose-profile">
        <li class="profile">
          <div>
            <a class="profile-link">
              <div class="avatar-wrapper">
                <div class="profile-icon" style="background-image:url(https://occ-0-2794-1009.1.nflxso.net/art/0d282/eb648e0fd0b2676dbb7317310a48f9bdc2b0d282.png)"></div>
                  <span class="profile-name">Profile Name</span>
              </div>
            </a>
          </div>
        </li>
        <li class="profile">
          <div>
            <a class="profile-link">
              <div class="avatar-wrapper">
                <div class="profile-icon" style="background-image: url(https://occ-0-2794-1009.1.nflxso.net/art/b546b/6e960989aa8d0c0ea64f90fb3a8d03b417ab546b.png);"></div>
                  <span class="profile-name">키즈</span>
              </div>
            </a>
          </div>
        </li>
        <li class="profile">
          <div>
            <a role="link" tabindex="0">
              <div class="addProfileIcon icon-tvuiAdd">
              </div>
              <span class="profile-name">프로필 추가</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
    <span class="profile-button">
      <a routerLink="/profile/manage">프로필 관리</a>
    </span>
  </div>
  <div></div>
  <div></div>
  <div></div>
</div>