<app-header></app-header>
<div class="mainView" role="main">
  <div class="thanos is-fullbleed">
    <h1 class="visually-hidden">Fastflix 홈</h1>
    <span class="billboard-animations-container">
      <div class="billboard-row" role="region" aria-label="특별 소개 콘텐츠">
        <div class="billboard">
          <div class="billboard-trailer">
            <div class="trailer-background">
              <div class="FFPlayer" *ngIf="playBillBoard"></div>
              <div class="hero-img-wrapper">
                <img
                  class="hero static-image image-layer"
                  src="{{ mainMovie?.image }}"
                  alt=""
                />
                <div class="vignette-top vignette-layer"></div>
                <div class="vignette-bottom vignette-layer"></div>
                <div class="embedded-components button-layer">
                  <span class="maturity-rating "
                    ><span
                      ><img
                        src="http://www.kmrb.or.kr/img/01_guide/rating_15.png"
                        alt=""/></span
                  ></span>
                </div>
              </div>
            </div>
          </div>
          <div class="billboard-data">
            <div class="info meta-layer">
              <div class="logo-and-text meta-layer">
                <div class="billboard-title">
                  <img
                    class="title-logo"
                    src="{{ mainMovie?.logo }}"
                    title="{{ mainMovie?.title }}"
                    alt="{{ mainMovie?.title }}"
                  />
                </div>
                <div class="billboard-links button-layer forward-leaning">
                  <a routerLink="/watch" class="playLink" aria-label="Play">
                    <span
                      tabindex="-1"
                      class="nf-icon-button nf-flat-button bf-flat button-uppercase"
                    >
                      <span
                        class="nf-flat-button-icon nf-flat-button-icon-play"
                      ></span>
                      <span class="nf-flat-button-text">재생</span>
                    </span>
                  </a>
                  <a
                    tabindex="0"
                    class="nf-icon-button mylist-button"
                    aria-label="Add To My List"
                    ><span
                      role="presentation"
                      class="nf-icon-button-icon icon-button-mylist-add"
                    ></span
                    ><span class="nf-icon-button-label"
                      >내가 찜한 콘텐츠</span
                    ></a
                  >
                </div>
                <div class="synopsis-fade-container">
                  <div class="synopsis no-supplemental">
                    {{ mainMovie?.synopsis }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </span>
    <div
      *ngFor="let category of movieCategory"
      class="thanosRow thanosTitleCard"
      [class.originalsRow]="category === '오리지널'"
    >
      <h2 class="rowHeader">
        <span class="rowTitle">
          <div class="rowHeaderTitle">
            {{ category }}
          </div>
        </span>
      </h2>
      <div class="rowContainer rowContainerTitleCard">
        <div class="rowContent">
          <app-slider></app-slider>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
