.billboard-animations-container {
  display: block;
  z-index: 1;
  position: relative;
}

.billboard-animations-container .billboard-row {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.billboard-row {
  user-select: none;
  touch-action: pan-y;
  margin-bottom: 20px;
  background-color: #000;
  position: relative;
  padding-bottom: 40%;
}

.billboard-row .billboard {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
}

.billboard-row .billboard,
.billboard-row .billboard-originals {
  z-index: 0;
}

.billboard-trailer {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 56.25vw;
}

.trailer-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.billboard-trailer .hero-img-wrapper {
  width: 100%;
  height: 100%;
}

.billboard-trailer .loading-mask,
.billboard-trailer .static-image {
  position: absolute;
  background-position: center center;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity .4s cubic-bezier(.665, .235, .265, .8) 0s;
}

.billboard-row .billboard .hero {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 1;
  transition: opacity 750ms;
}

.billboard-row .billboard .image-layer {
  z-index: 5;
}

.billboard-row .billboard .vignette-layer {
  z-index: 8;
}

.billboard .vignette-bottom {
  background-size: 100% 100%;
  background-position: 0 top;
  background-repeat: repeat-x;
  background-color: transparent;
  width: 100%;
  height: 22.8vw;
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  background-image: linear-gradient(to bottom, rgba(20, 20, 20, 0) 0, rgba(20, 20, 20, .15) 15%, rgba(20, 20, 20, .35) 29%, rgba(20, 20, 20, .58) 44%, #141414 68%, #141414 100%);
}

.billboard .vignette-top {
  background-image: linear-gradient(to bottom, #141414 0, rgba(20, 20, 20, 0) 100%);
  background-size: 100% 100%;
  background-position: 0 top;
  background-repeat: repeat-x;
  background-color: transparent;
  width: 100%;
  height: 12.8vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  opacity: .65;
}

.billboard .billboard-data {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.billboard-data {
  width: 100%;
  height: 100%;
}

.billboard .info {
  top: 0;
  width: 40%;
  height: 130%;
  left: 0;
  padding-left: 4%;
  box-sizing: border-box;
  position: absolute;
}

.billboard .meta-layer {
  z-index: 10;
}

.billboard .info .logo-and-text {
  margin: 0;
  width: 100%;
  padding-top: 10vw;
  position: relative;
  transition: -webkit-transform 1.5s cubic-bezier(.165, .84, .44, 1);
  transition: transform 1.5s cubic-bezier(.165, .84, .44, 1);
  transition: transform 1.5s cubic-bezier(.165, .84, .44, 1), -webkit-transform 1.5s cubic-bezier(.165, .84, .44, 1), -moz-transform 1.5s cubic-bezier(.165, .84, .44, 1), -o-transform 1.5s cubic-bezier(.165, .84, .44, 1);
}

.billboard .billboard-title {
  min-height: 13.2vw;
  position: relative;
}


.billboard-links.forward-leaning,
.content-refresh .forward-leaning,
.profiles-billboard .forward-leaning {
  line-height: 88%;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.billboard-row .billboard .button-layer,
.billboard-row .billboard-originals .button-layer {
  z-index: 10;
}

.billboard .billboard-trailer .embedded-components {
  font-size: 2.5vw;
  position: absolute;
  right: 0;
  top: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.billboard .billboard-trailer .maturity-rating {
  border: solid 3px #dcdcdc;
  border-style: none none none solid;
  background-color: rgba(51, 51, 51, .6);
  font-size: 1.1vw;
  padding: .5vw 3.5vw .5vw .8vw;
  display: flex;
  align-items: center;
  height: 2.4vw;
  box-sizing: border-box;
}

.maturity-rating img {
  width: 2em;
  height: 2em;
  margin: 0 .4em 0 0;
  vertical-align: middle;
}

.billboard-row .billboard .info .billboard-links {
  margin-top: 1.5vw;
  white-space: nowrap;
  flex-wrap: nowrap;
  display: flex;
}

.billboard .info .logo-and-text .title-logo {
  margin: 0;
  width: 90%;
}

.billboard-row .billboard-originals .billboard-links>a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nf-flat-button-uppercase {
  text-transform: uppercase;
}

.nf-flat-button {
  font-size: 1vw;
  font-weight: 700;
  margin-right: .75em;
  padding: .57em 1.35em;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, .4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  background-image: none;
  background-color: rgba(0, 0, 0, .4);
}

.billboard-links.forward-leaning .nf-flat-button:hover,
.billboard-links.forward-leaning .nf-icon-button:not(.audio-btn):hover {
  box-shadow: 0 0.6vw 1vw -0.4vw rgba(0, 0, 0, .35);
  background-color: #e6e6e6;
  color: #000;
  height: 1.2vw;
}

.nf-flat-button:focus,
.nf-flat-button:hover {
  background-color: rgba(51, 51, 51, .4);
  outline: 0;
  transform: scale(1.05);
  transition: transform 350ms cubic-bezier(.86, 0, .07, 1), -webkit-transform 350ms cubic-bezier(.86, 0, .07, 1), -moz-transform 350ms cubic-bezier(.86, 0, .07, 1), -o-transform 350ms cubic-bezier(.86, 0, .07, 1);
}

.nf-icon-button {
  display: inline-block;
  color: #fff;
  position: relative;
}

.nf-icon-button .nf-icon-button-icon {
  display: inline-block;
  font-size: 2vw;
  vertical-align: middle;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .25);
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
}

.billboard-row .mylist-button .nf-icon-button-icon,
.billboard-row .mylist-button .playRing {
  margin-right: .71em;
  background-color: transparent;
  font-size: inherit;
  transition: none;
}

.billboard-row .icon-button-mylist-add:before {
  content: '\e641';
}

.nf-icon-button .nf-icon-button-label {
  display: inline-block;
  font-size: 1.1vw;
  margin-left: .6vw;
  margin-right: 1.7vw;
  font-weight: 700;
  vertical-align: middle;
  white-space: nowrap;
}

.billboard-row .mylist-button .nf-icon-button-label {
  padding: 0;
  margin: 0;
  top: auto;
}

.billboard-row .mylist-button {
  font-size: 1.1vw;
  font-weight: 700;
  margin-right: .75em;
  padding: .57em 1.35em;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, .4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  background-image: none;
  background-color: rgba(0, 0, 0, .4);
}

.bigRowItem .forward-leaning .btn-flat,
.bigRowItem .forward-leaning .btn-flat-primary,
.bigRowItem .forward-leaning .nf-flat-button,
.bigRowItem .forward-leaning .nf-flat-button-primary,
.bigRowItem .forward-leaning .nf-icon-button:not(.audio-btn),
.billboard-links.forward-leaning .btn-flat,
.billboard-links.forward-leaning .btn-flat-primary,
.billboard-links.forward-leaning .nf-flat-button,
.billboard-links.forward-leaning .nf-flat-button-primary,
.billboard-links.forward-leaning .nf-icon-button:not(.audio-btn) {
  background-color: rgba(51, 51, 51, .4);
  border-width: 0;
  padding: .75em 2.3em;
  height: 1.2vw;
  border-radius: .2vw;
  box-shadow: none;
  font-size: 1.1vw;
  margin-bottom: .75em;
}

.billboard-row .billboard .info .synopsis {
  color: #fff;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  font-size: 1.4vw;
}

.billboard.billboard-trailer .info .logo-and-text .synopsis.no-supplemental {
  margin: .5vw 0 0 0;
}


.thanosRow,
.rowContainer {
  transition: transform .54s cubic-bezier(.5, 0, .1, 1) 0s, -webkit-transform .54s cubic-bezier(.5, 0, .1, 1) 0s, -moz-transform .54s cubic-bezier(.5, 0, .1, 1) 0s, -o-transform .54s cubic-bezier(.5, 0, .1, 1) 0
}

.thanosRow {
  z-index: 1;
  position: relative;
}

.rowContainer {
  position: relative;
  z-index: 0;
}

.thanosRow.thanosTitleCard {
  margin: 3vw 0;
  padding: 0;
  box-sizing: border-box;

}

.thanosRow .rowHeader {
  line-height: 1.3;
  margin: 0;
}

.thanosRow.thanosTitleCard .rowTitle {
  font-size: 1.4vw;
  color: #e5e5e5;
  font-weight: 700;
  margin: 0 4% .5em 4%;
  text-decoration: none;
  display: inline-block;
  min-width: 6em;
}

.thanosRow.thanosTitleCard .rowTitle .rowHeaderTitle {
  display: table-cell;
  vertical-align: bottom;
  line-height: 1.25vw;
  font-size: 1.4vw;
}

.bigRow {
  position: relative;
  padding: 34.6875vw 0 0 0;
}

.bigRow .bigRowItem {
  padding: 0 4%;
}

.bigRow .bigRowItem .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  background-position: top;
  height: 40.078125vw;
  opacity: .1;
  pointer-events: none;

  /* 임시 */
  background-image: url("https://occ-0-3451-1009.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABUGdNBnQ3ucgsTitrvngw3xl3kTv3-jy9fA3PVFu-byUot1FgFnep4UwprnnPajgX0yXVDCDXSXIPZJr5vDncVN-Gn6_lWcTPA.webp?r=348");
}

.bigRow .video-component-container {
  position: absolute;
  top: 3.125vw;
  width: 53.90625vw;
  height: 30.3125vw;
}

.bigRow .info {
  position: absolute;
  top: 3.125vw;
  left: 60.9375vw;
}
