.mainView {
  position: relative;
  min-height: 1000px;
  z-index: 0;
  line-height: 1.4;
}

.mainView .aro-genre .thanos.is-fullbleed,
.mainView .aro-genre-loading.is-fullbleed {
  padding-top: 0;
  margin-top: -70px;
}

@media screen and (max-width: 1099px) and (min-width: 800px) {

  .mainView .aro-genre .lolomo,
  .mainView .aro-genre-loading {
    margin-top: 2.5%;
  }
}

.mainView .aro-genre .thanos,
.mainView .aro-genre-loading {
  padding-top: 5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.thanos.is-fullbleed {
  margin-top: -70px;
}

.thanos {
  padding: 0 0 50px;
  z-index: 0;
  overflow: hidden;
}

.billboard-animations-container {
  display: block;
  z-index: 1;
  position: relative;
}

.billboard-animations-container .billboard-row {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
}

.billboard-row {
  user-select: none;
  touch-action: pan-y;
  margin-bottom: 20px;
  background-color: #000;
  position: relative;
  padding-bottom: 40%;
}

.billboard-row .billboard {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
}

.billboard-row .billboard,
.billboard-row .billboard-originals {
  z-index: 0;
}

.billboard-trailer {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 56.25vw;
}

.trailer-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.billboard-trailer .hero-img-wrapper {
  width: 100%;
  height: 100%;
}

.billboard-trailer .loading-mask,
.billboard-trailer .static-image {
  position: absolute;
  background-position: center center;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 0.4s cubic-bezier(0.665, 0.235, 0.265, 0.8) 0s;
}

.billboard-row .billboard .hero {
  position: absolute;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 1;
  transition: opacity 750ms;
}

.billboard-row .billboard .image-layer {
  z-index: 5;
}

.billboard-row .billboard .vignette-layer {
  z-index: 8;
}

.billboard .vignette-bottom {
  background-size: 100% 100%;
  background-position: 0 top;
  background-repeat: repeat-x;
  background-color: transparent;
  width: 100%;
  height: 22.8vw;
  position: absolute;
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  background-image: linear-gradient(to bottom,
      rgba(20, 20, 20, 0) 0,
      rgba(20, 20, 20, 0.15) 15%,
      rgba(20, 20, 20, 0.35) 29%,
      rgba(20, 20, 20, 0.58) 44%,
      #141414 68%,
      #141414 100%);
}

.billboard .vignette-top {
  background-image: linear-gradient(to bottom,
      #141414 0,
      rgba(20, 20, 20, 0) 100%);
  background-size: 100% 100%;
  background-position: 0 top;
  background-repeat: repeat-x;
  background-color: transparent;
  width: 100%;
  height: 12.8vw;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0.65;
}

.billboard .billboard-data {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: absolute;
}

.billboard-data {
  width: 100%;
  height: 100%;
}

.billboard .info {
  top: 0;
  width: 40%;
  height: 130%;
  left: 0;
  padding-left: 4%;
  box-sizing: border-box;
  position: absolute;
}

.billboard .meta-layer {
  z-index: 10;
}

.billboard .info .logo-and-text {
  margin: 0;
  width: 100%;
  padding-top: 10vw;
  position: relative;
  transition: transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -webkit-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -moz-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1),
    -o-transform 1.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.billboard .billboard-title {
  min-height: 13.2vw;
  position: relative;
}

.billboard-row .billboard .button-layer,
.billboard-row .billboard-originals .button-layer {
  z-index: 10;
}

.billboard .billboard-trailer .embedded-components {
  font-size: 2.5vw;
  position: absolute;
  right: 0;
  top: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.billboard .billboard-trailer .maturity-rating {
  border: solid 3px #dcdcdc;
  border-style: none none none solid;
  background-color: rgba(51, 51, 51, 0.6);
  font-size: 1.1vw;
  padding: 0.5vw 3.5vw 0.5vw 0.8vw;
  display: flex;
  align-items: center;
  height: 2.4vw;
  box-sizing: border-box;
}

.maturity-rating img {
  width: 2em;
  height: 2em;
  margin: 0 0.4em 0 0;
  vertical-align: middle;
}

.billboard .info .logo-and-text .title-logo {
  margin: 0;
  width: 90%;
}

.movie .billboard .info .logo-and-text .title-logo {
  transform: translateY(50%);
}

.billboard-row .billboard .info .synopsis {
  color: #fff;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  font-size: 1.4vw;
}

.billboard.billboard-trailer .info .logo-and-text .synopsis.no-supplemental {
  margin: 0.5vw 0 0 0;
}

/* billboard links */

.billboard-links.forward-leaning {
  line-height: 88%;
  display: flex;
  flex-wrap: wrap;
}

.billboard-row .billboard .button-layer,
.billboard-row .billboard-originals .button-layer {
  z-index: 10;
}

.billboard-row .billboard .info .billboard-links {
  margin-top: 1.5vw;
  white-space: nowrap;
  flex-wrap: nowrap;
  display: flex;
}

.billboard-row .billboard-originals .billboard-links>a {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
}

.bigRowItem .forward-leaning .btn-flat,
.bigRowItem .forward-leaning .btn-flat-primary,
.bigRowItem .forward-leaning .nf-flat-button,
.bigRowItem .forward-leaning .nf-flat-button-primary,
.bigRowItem .forward-leaning .nf-icon-button:not(.audio-btn),
.billboard-links.forward-leaning .btn-flat,
.billboard-links.forward-leaning .btn-flat-primary,
.billboard-links.forward-leaning .nf-flat-button,
.billboard-links.forward-leaning .nf-flat-button-primary,
.billboard-links.forward-leaning .nf-icon-button:not(.audio-btn) {
  background-color: rgba(51, 51, 51, 0.4);
  border-width: 0;
  padding: 0.75em 2.3em;
  height: 1.2vw;
  border-radius: 0.2vw;
  box-shadow: none;
  font-size: 1.1vw;
  margin-bottom: 0.75em;
}

.bigRowItem .forward-leaning .btn-flat-primary:hover,
.bigRowItem .forward-leaning .btn-flat:hover,
.bigRowItem .forward-leaning .nf-flat-button-primary:hover,
.bigRowItem .forward-leaning .nf-flat-button:hover,
.bigRowItem .forward-leaning .nf-icon-button:not(.audio-btn):hover,
.billboard-links.forward-leaning .btn-flat-primary:hover,
.billboard-links.forward-leaning .btn-flat:hover,
.billboard-links.forward-leaning .nf-flat-button-primary:hover,
.billboard-links.forward-leaning .nf-flat-button:hover,
.billboard-links.forward-leaning .nf-icon-button:not(.audio-btn):hover {
  box-shadow: 0 0.6vw 1vw -0.4vw rgba(0, 0, 0, 0.35);
  background-color: #e6e6e6;
  color: #000;
  height: 1.2vw;
}

.billboard-row .billboard-originals .mylist-button .nf-icon-button-icon,
.billboard-row .billboard-originals .mylist-button .playRing {
  margin-right: 0.71em;
  background-color: transparent;
  font-size: inherit;
  transition: none;
}

.billboard-row .billboard-originals .mylist-button .nf-icon-button-label {
  padding: 0;
  margin: 0;
  top: auto;
}

.nf-flat-button:focus,
.nf-flat-button:hover {
  background-color: rgba(51, 51, 51, 0.4);
  outline: 0;
  transform: scale(1.05);
  transition: transform 350ms cubic-bezier(0.86, 0, 0.07, 1),
    -webkit-transform 350ms cubic-bezier(0.86, 0, 0.07, 1),
    -moz-transform 350ms cubic-bezier(0.86, 0, 0.07, 1),
    -o-transform 350ms cubic-bezier(0.86, 0, 0.07, 1);
}

.icon-button-mylist-add:before {
  content: '\e885';
}

.billboard-row .icon-button-mylist-add:before {
  content: '\e641';
}

.icon-button-mylist-added:before {
  content: '\e888';
}

.billboard-row .billboard-originals .icon-button-mylist-added:before {
  content: '\e804';
}

.billboard-row .billboard-originals .mylist-button .icon-button-mylist-added,
.billboard-row .billboard-originals .mylist-button .icon-button-mylist-added-reverse {
  transform: scale(1.5);
}

.bigRow .mylist-button .icon-button-mylist-added,
.bigRow .mylist-button .icon-button-mylist-added-reverse {
  transform: scale(1.5);
}

.nf-icon-button .nf-icon-button-label {
  display: inline-block;
  font-size: 1.1vw;
  margin-left: 0.6vw;
  margin-right: 1.7vw;
  font-weight: 700;
  vertical-align: middle;
  white-space: nowrap;
}

.thanosRow,
.rowContainer {
  transition: transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -webkit-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -moz-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0s,
    -o-transform 0.54s cubic-bezier(0.5, 0, 0.1, 1) 0;
}

.thanosRow {
  z-index: 1;
  position: relative;
}

.rowContainer {
  position: relative;
  z-index: 0;
}

.originalsRow .rowContainer {
  min-height: 36.5vw;
}

@media screen and (max-width: 1099px) and (min-width: 800px) {
  .originalsRow .rowContainer {
    min-height: 46.5vw;
  }
}

@media screen and (max-width: 499px) {
  .originalsRow .rowContainer {
    min-height: 91vw;
  }
}

.originalsRow .slider .handle {
  height: 346%;
}

@media screen and (max-width: 799px) and (min-width: 500px) {
  .originalsRow .slider .handle {
    height: 346%;
  }
}

.thanosRow.thanosTitleCard {
  margin: 3vw 0;
  padding: 0;
  box-sizing: border-box;
}

.thanosRow .rowHeader {
  line-height: 1.3;
  margin: 0;
}

.thanosRow.thanosTitleCard .rowTitle {
  font-size: 1.4vw;
  color: #e5e5e5;
  font-weight: 700;
  margin: 0 4% 0.5em 4%;
  text-decoration: none;
  display: inline-block;
  min-width: 6em;
}

.thanosRow.thanosTitleCard .rowTitle .rowHeaderTitle {
  display: table-cell;
  vertical-align: bottom;
  line-height: 1.25vw;
  font-size: 1.4vw;
}

.bigRow {
  position: relative;
  padding: 34.6875vw 0 0 0;
}

.bigRow .bigRowItem {
  padding: 0 4%;
}

.bigRow .bigRowItem .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  background-position: top;
  height: 40.078125vw;
  opacity: 0.1;
  pointer-events: none;

  /* 임시 */
  /* background-image: url('https://occ-0-3451-1009.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABRJewj46ewk1GG7755f0p-zAiizaKO-B1-Ku8aIauHIw1H_MhASsR3fZrz630jHxwOl_Ng2-ERgvrqavnjarXjiDzBsFDibn7g.webp?r=7d4'); */
}

.bigRow .bigRowItem .background-image:after,
.bigRow .bigRowItem .background-image:before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 5.46875vw;
}

.bigRow .bigRowItem .background-image:before {
  top: 0;
  background-image: linear-gradient(to top,
      rgba(20, 20, 20, 0) 0,
      #141414 100%);
}

.bigRow .bigRowItem .background-image:after {
  bottom: 0;
  background-image: linear-gradient(to bottom,
      rgba(20, 20, 20, 0) 0,
      #141414 100%);
}

.bigRow .video-component-container {
  position: absolute;
  top: 3.125vw;
  width: 53.90625vw;
  height: 30.3125vw;
}

.bigRow .video-component-container .foreground-image {
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: 100%;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease-in-out;
}

.bigRow .video-component-container .foreground-image.show-foreground {
  opacity: 1;
}

.bigRowItem .forward-leaning,
.billboard-links.forward-leaning {
  margin-top: 1vw;
}

.bigRow .info .billboard-links.button-layer.forward-leaning {
  margin-top: 1.875vw;
  margin-bottom: 1.25vw;
}

.bigRow .video-component-container .button-container {
  position: absolute;
  display: flex;
  bottom: 2.734375vw;
  right: 0;
  z-index: 4;
}

.bigRow .video-component-container .button-container .Billboard__replay-trailer-button {
  position: relative;
  margin: 0 1.1vw 0 0;
}

.Billboard__replay-trailer-button.svg-icon {
  position: absolute;
  cursor: pointer;
  display: flex;
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
  width: 2.4vw;
  height: 2.4vw;
  padding: 0.3vw;
  transition: transform 150ms ease, -webkit-transform 150ms ease,
    -moz-transform 150ms ease, -o-transform 150ms ease;
  border-radius: 50%;
  border: 0.1vw solid rgba(255, 255, 255, 0.5);
  pointer-events: auto;
  box-sizing: border-box;
}

.Billboard__replay-trailer-button.svg-icon:focus,
.Billboard__replay-trailer-button.svg-icon:hover {
  border-color: #fff;
  outline: 0;
  transform: scale(1.13);
}

.bigRow .bigRowItem .maturity-rating {
  border: solid 3px #dcdcdc;
  border-style: none none none solid;
  background-color: rgba(51, 51, 51, 0.6);
  font-size: 1.1vw;
  padding: 0.5vw 3.5vw 0.5vw 0.8vw;
  display: flex;
  align-items: center;
  height: 2.4vw;
  box-sizing: border-box;
}

.maturity-rating .svg-icon {
  width: 2em;
  height: 2em;
  margin: 0 0.4em 0 0;
  vertical-align: middle;
}

.bigRow .info {
  position: absolute;
  top: 3.125vw;
  left: 60.9375vw;
}

.bigRow .info .title-logo {
  width: 27.03125vw;
  letter-spacing: -1px;
}

.bigRow .more-info-button .nf-icon-button-icon,
.bigRow .more-info-button .playRing,
.bigRow .mylist-button .nf-icon-button-icon,
.bigRow .mylist-button .playRing {
  margin-right: 0.71em;
  background-color: transparent;
  font-size: inherit;
  transition: none;
}

.bigRow .billboard-links a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigRow .billboard-links .icon-button-mylist-add-reverse:before,
.bigRow .billboard-links .icon-button-mylist-add:before {
  content: '\e641';
}

.bigRow .info .synopsis {
  margin-top: 0.46875vw;
  font-size: 1.36vw;
  width: 33.125vw;
}

/* DetailView */

.thanosRow.jawBoneOpen~.thanosRow,
.rowContainer.jawBoneOpen~.rowContainer {
  -webkit-transform: translate3d(0, 37vw, 0);
  -moz-transform: translate3d(0, 37vw, 0);
  transform: translate3d(0, 37vw, 0);
}

@media screen and (max-width: 1099px) and (min-width: 800px) {

  .thanosRow.jawBoneOpen~.thanosRow,
  .rowContainer.jawBoneOpen~.rowContainer {
    -webkit-transform: translate3d(0, 42vw, 0);
    -moz-transform: translate3d(0, 42vw, 0);
    transform: translate3d(0, 42vw, 0);
  }
}


.jawBoneContent {
  background-color: #141414;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 2px;
  padding: 0;
}

.jawBoneContent .jawBoneOpenContainer {
  -webkit-transition: opacity .44s cubic-bezier(.5, 0, .1, 1), -webkit-transform 440ms cubic-bezier(.5, 0, .1, 1) 0s;
  transition: opacity .44s cubic-bezier(.5, 0, .1, 1), -webkit-transform 440ms cubic-bezier(.5, 0, .1, 1) 0s;
  -o-transition: opacity .44s cubic-bezier(.5, 0, .1, 1), -o-transform 440ms cubic-bezier(.5, 0, .1, 1) 0s;
  -moz-transition: transform 440ms cubic-bezier(.5, 0, .1, 1) 0s, opacity .44s cubic-bezier(.5, 0, .1, 1), -moz-transform 440ms cubic-bezier(.5, 0, .1, 1) 0s;
  transition: transform 440ms cubic-bezier(.5, 0, .1, 1) 0s, opacity .44s cubic-bezier(.5, 0, .1, 1);
  transition: transform 440ms cubic-bezier(.5, 0, .1, 1) 0s, opacity .44s cubic-bezier(.5, 0, .1, 1), -webkit-transform 440ms cubic-bezier(.5, 0, .1, 1) 0s, -moz-transform 440ms cubic-bezier(.5, 0, .1, 1) 0s, -o-transform 440ms cubic-bezier(.5, 0, .1, 1) 0s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.jawBoneContent.open .jawBoneOpenContainer {
  opacity: 1;
}

.jawBoneContent .jawBoneOpenContainer .jawBoneFadeInPlaceContainer {
  -webkit-transition: opacity 440ms cubic-bezier(.5, 0, .1, 1) 0s;
  -o-transition: opacity 440ms cubic-bezier(.5, 0, .1, 1) 0s;
  -moz-transition: opacity 440ms cubic-bezier(.5, 0, .1, 1) 0s;
  transition: opacity 440ms cubic-bezier(.5, 0, .1, 1) 0s;
  position: absolute;
  left: 0;
  right: 0;
}

.jawBoneContainer {
  background-color: #000;
  position: relative;
  overflow: hidden;
  outline: 0;
  height: 37vw;
  -webkit-transition: height .54s cubic-bezier(.5, 0, .1, 1) 0s, opacity .44s cubic-bezier(.5, 0, .1, 1) .1s;
  -o-transition: height .54s cubic-bezier(.5, 0, .1, 1) 0s, opacity .44s cubic-bezier(.5, 0, .1, 1) .1s;
  -moz-transition: height .54s cubic-bezier(.5, 0, .1, 1) 0s, opacity .44s cubic-bezier(.5, 0, .1, 1) .1s;
  transition: height .54s cubic-bezier(.5, 0, .1, 1) 0s, opacity .44s cubic-bezier(.5, 0, .1, 1) .1s;
}

@media screen and (max-width: 1099px) and (min-width: 800px) {
  .jawBoneContainer {
    height: 42vw;
  }
}

@media screen and (max-width: 1399px) and (min-width: 1100px) {
  .jawBoneContainer {
    height: 37vw;
  }
}

.jawBoneContainer .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  -webkit-transition: opacity .3s cubic-bezier(.5, 0, .1, 1) 0s;
  -o-transition: opacity .3s cubic-bezier(.5, 0, .1, 1) 0s;
  -moz-transition: opacity .3s cubic-bezier(.5, 0, .1, 1) 0s;
  transition: opacity .3s cubic-bezier(.5, 0, .1, 1) 0s;
}

.image-rotator {
  position: relative;
  overflow: hidden;
}

.jawBoneContainer .jawBoneBackground {
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 70%;
}

.image-rotator .image-rotator-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0;
}

.jawBoneContainer .jawBoneBackground .image-rotator-image {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
  background-position: center 10%;
}

.image-rotator .image-rotator-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0;
}

.jawBoneContainer .background .vignette {
  background: #000;
  z-index: 2;
  width: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.jawBoneContainer .background .vignette::before {
  content: '';
  position: absolute;
  z-index: 10;
  background-image: linear-gradient(to right, #000, transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 275px;
}

.jawBoneContainer .background .nav-shadow {
  height: 114px;
  background: url(https://assets.nflxext.com/en_us/akira/jawBone/nav-shadow.png) no-repeat center 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  -webkit-background-size: 100% 114px;
  -moz-background-size: 100% 114px;
  -o-background-size: 100% 114px;
  background-size: 100% 114px;
}

.jawBoneContainer .jawBone {
  padding: 18px 0 12px 4%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.jawBoneContainer h1,
.jawBoneContainer h3 {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

.jawBoneContainer .title {
  display: inline-block;
  position: relative;
  z-index: 1;
  line-height: 1.3;
  margin: 0 0 .2em 0;
  font-weight: 700;
  color: #fff;
  font-size: 3vw;
  width: 670px;
}

@media screen and (max-width: 499px) {
  .jawBoneContainer .title {
    font-size: 14px;
    width: 55vw;
  }
}

@media screen and (max-width: 799px) and (min-width: 500px) {
  .jawBoneContainer .title {
    font-size: 14px;
    width: 55vw;
  }
}

@media screen and (max-width: 1099px) and (min-width: 800px) {
  .jawBoneContainer .title {
    font-size: 3vw;
    width: 55vw;
  }
}

.jawBoneContainer .close-button {
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.3vw;
  padding: 20px 20px 40px 40px;
  z-index: 12;
  cursor: pointer;
  color: #fff;
  -webkit-transform-origin: 60% 35%;
  -moz-transform-origin: 60% 35%;
  -ms-transform-origin: 60% 35%;
  -o-transform-origin: 60% 35%;
  transform-origin: 60% 35%;
  background: -webkit-radial-gradient(top right ellipse, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  background: -moz- oldradial-gradient(top right ellipse, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  background: -o-radial-gradient(top right ellipse, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  background: radial-gradient(ellipse at top right, rgba(0, 0, 0, .4) 0, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 100%);
  background-position: 50% -50%;
}

.icon-close:before {
  content: '\e762';
}


.thanos.has-open-jaw {
  padding: 0 0 39vw;
}


@media screen and (max-width: 1099px) and (min-width: 800px) {
  .thanos.has-open-jaw {
    padding: 0 0 44vw;
  }
}

.jawBoneContainer .title .logo {
  height: 7vw;
  transform-origin: 0 0;
  transition: transform .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s;
}


.jawBoneContainer .jawBoneCommon {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  height: 33.3vw;
}

@media screen and (max-width: 1099px) and (min-width: 800px) {
  .jawBoneContainer .jawBoneCommon {
    height: 37.8vw;
  }
}

.jawBoneContainer .jawBoneCommon {
  height: 1.4vw;
}

.jawBoneContainer .jawBonePanes {
  position: relative;
  opacity: 1;
  z-index: 2;
  transition: transform .3s, -webkit-transform .3s, -moz-transform .3s, -o-transform .3s;
}

.jawBoneContainer .jawBonePanes .jawBonePane {
  position: absolute;
  top: 0;
  width: 100%;
  color: grey;
  opacity: 0;
}

.jawBonePane .content-warning,
.jawBonePane .overview {
  width: 36vw;
  min-width: 330px;
  color: #999;
  line-height: 1.3;
  font-size: 1.5vw;
}

.jawBonePane .overview {
  margin-top: .3em;
}

.jawBonePane .overview,
.jawBonePane .synopsis,
.originals-panels-row .jawBonePane .overview .heroSynopsis {
  line-height: 1.6;
}


.video-meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.jawBoneContainer .jawBoneCommon .meta {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1.1vw;
  height: 1.1vw;
  min-height: 1.1vw;
  line-height: 1.1vw;
  margin-bottom: .8em;
}

.match-score-wrapper {
  color: #fff;
}

.video-meta>span,
.video-meta>svg {
  margin-right: .5em;
  margin-bottom: .3vw;
}

.jawBoneContainer .jawBoneCommon .meta>span {
  line-height: 1.4;
  font-weight: 700;
}

.match-score-wrapper .rating-inner {
  transition: margin-right 550ms cubic-bezier(.86, 0, .07, 1) 1.65s;
  display: flex;
}

.jawBoneContainer .jawBoneCommon .meta .rating-inner {
  height: 1.4vw;
  line-height: 1.4vw;
}

.match-score-wrapper .meta-thumb-container {
  display: inline-block;
  margin-bottom: -2px;
}

.match-score-wrapper .meta-thumb-container svg {
  width: .7em !important;
  height: .7em !important;
}

.match-score-wrapper .show-match-score .thumb-down svg,
.match-score-wrapper .show-match-score .thumb-up svg {
  width: 0 !important;
  height: 0 !important;
  opacity: 0;
  transition: width 550ms cubic-bezier(.86, 0, .07, 1) 1.1s, opacity 150ms linear 950ms;
}

.match-score-wrapper .match-score {
  font-weight: 700;
  color: #46d369;
  display: inline-block;
  white-space: nowrap;
}

.match-score-wrapper .show-match-score .match-score {
  max-width: 300px;
  opacity: 1;
  transition: max-width 550ms cubic-bezier(.86, 0, .07, 1) 1.65s, opacity 150ms linear 2.2s;
}

.jawBonePane .overview .jawbone-actions {
  margin: .8em 0;
  display: flex;
  align-items: center;
}

.nf-icon-button {
  display: inline-block;
  color: #fff;
  position: relative;
}

.nf-flat-button {
  font-size: 1vw;
  font-weight: 700;
  margin-right: .75em;
  padding: .57em 1.35em;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, .4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  background-image: none;
  background-color: rgba(0, 0, 0, .4);
}

.nf-flat-button-uppercase {
  text-transform: uppercase;
}

.nf-flat-button-primary {
  background-color: #e50914;
  border-color: #ff0a16;
}

.jawBonePane .overview .jawbone-actions .thumbs-container {
  margin: 0 0 0 .8em;
  display: inline-block;
}

.thumbs-component {
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.nf-svg-button-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
}

.thumbs-component .thumb-container {
  display: flex;
  cursor: pointer;
  color: #fff;
  position: relative;
  pointer-events: auto;
}

.thumbs-component.animated.unrated .thumb-container {
  opacity: 1;
  transition: opacity 150ms linear 650ms;
}

.nf-svg-button-wrapper .nf-svg-button {
  pointer-events: auto;
  display: flex;
  width: 1.2em;
  height: 1.2em;
  justify-content: center;
  align-items: center;
  transition: transform 350ms cubic-bezier(.86, 0, .07, 1), -webkit-transform 350ms cubic-bezier(.86, 0, .07, 1), -moz-transform 350ms cubic-bezier(.86, 0, .07, 1), -o-transform 350ms cubic-bezier(.86, 0, .07, 1);
}

.nf-svg-button-wrapper .nf-svg-button.simpleround {
  border: .1em solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  padding: .3em;
  margin: .25em;
  background: rgba(0, 0, 0, .5);
}

.thumbs-component .nf-svg-button svg {
  width: 1em;
  height: 1em;
}


.jawBonePane .overview .evidence {
  margin: 15px 0 0 0;
  display: flex;
  align-items: center;
  font-size: .9em;
}

.jawBonePane .overview .evidence .evidence-icon {
  font-size: 1.9em;
  color: #666;
  padding: 0 .3em 1px 0;
  flex: 0 0 auto;
}

.icon-Talent:before {
  content: '\e734';
}

.evidence-text {
  color: #fff;
  line-height: 1.3;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .7);
  font-size: .8vw;
}

.evidence-text {
  line-height: 1.4;
}

.jawBonePane .overview .evidence .evidence-text {
  margin: 0;
  color: #828282;
}

@media screen and (max-width: 1099px) and (min-width: 800px) {
  .evidence-text {
    font-size: 1.28vw;
  }
}

.jawBonePane .overview .meta-lists {
  margin: 20px 0 0 0;
}

.jawBonePane .overview .inline-list {
  font-size: .9em;
  color: #828282;
  margin: 2px 0 0 0;
}

.jawBonePane .overview .inline-list .list-label {
  color: #828282;
  font-weight: 700;
  margin-right: 5px;
}

.jawBonePane .overview .inline-list a {
  color: #828282;
}

.jaw-play-hitzone {
  position: absolute;
  right: 5%;
  top: -5vw;
  bottom: -6vw;
  width: 55%;
  z-index: 11;
  cursor: pointer;
}

.jawBoneContainer .menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  font-size: 1vw;
  z-index: 100;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  pointer-events: none;
}

.jawBoneContainer .menu li {
  padding: 1em 1.5em 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: #ccc;
  min-width: 5%;
  pointer-events: auto;
}

.jawBoneContainer .menu li.current {
  cursor: default;
  color: #fff;
}

.jawBoneContainer .menu a {
  margin: 0;
  padding: 0;
  letter-spacing: 1px;
  color: inherit;
  font-weight: 700;
  text-align: center;
  pointer-events: auto;
}

.jawBoneContainer .menu li span {
  height: .33em;
  display: block;
  width: 100%;
  margin-top: .66em;
  transform: translateY(.4em);
  transition: transform .2s linear, -webkit-transform .2s linear, -moz-transform .2s linear, -o-transform .2s linear;
}

.jawBoneContainer .menu li.current span {
  transform: translateY(0);
  background-color: #e50914;
}

.jawBoneContainer .menu li {
  padding: 1em 1.5em 0;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: #ccc;
  min-width: 5%;
  pointer-events: auto;
}

.jawBoneContainer .slider {
  overflow-y: hidden;
  margin-left: -4%;
}

.jawBoneContainer .jawBoneDetails {
  font-size: 14px;
  margin-top: 12px;
  white-space: nowrap;
}

.slider {
  position: relative;
  margin: 0;
  padding: 0 4%;
  touch-action: pan-y;
}

.slider .handle {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 20;
  width: 4%;
  text-align: center;
  justify-content: center;
  display: flex;
  color: #fff;
}

.slider .handle.handlePrev {
  left: 0;
}

.slider .handle>.indicator-icon {
  display: none;
  height: auto;
  align-self: center;
  font-size: 2.5vw;
  transition: transform .1s ease-out 0s, -webkit-transform .1s ease-out 0s, -moz-transform .1s ease-out 0s, -o-transform .1s ease-out 0s;
}

.slider .handle.handlePrev .indicator-icon {
  transform-origin: 55% 50%;
}

.slider .handle.active {
  cursor: pointer;
}

.slider .handle.handleNext {
  right: 0;
}

.jawBoneContainer .jawBoneDetails .handle.active>.indicator-icon {
  display: block;
}

.slider .sliderMask {
  overflow-x: hidden;
  padding-bottom: 1px;
}

.jawBoneContainer .slider .sliderMask {
  overflow-y: hidden;
}

.jawBoneContainer .episodeWrapper .slider .sliderMask,
.jawBoneContainer .simsWrapper .slider .sliderMask,
.jawBoneContainer .trailerWrapper .slider .sliderMask {
  margin-right: -30px;
}

.slider .sliderMask .sliderContent {
  white-space: nowrap;
}

@media screen and (max-width: 1099px) and (min-width: 800px) {

  .episodeWrapper .loadingTitle,
  .episodeWrapper .row-with-x-columns .slider-item,
  .placeholderEpisodes .loadingTitle,
  .placeholderEpisodes .row-with-x-columns .slider-item,
  .simsWrapper .loadingTitle,
  .simsWrapper .row-with-x-columns .slider-item,
  .trailerWrapper .loadingTitle,
  .trailerWrapper .row-with-x-columns .slider-item {
    width: 33.333333%;
  }
}


.slider .sliderMask .sliderContent .slider-item {
  box-sizing: border-box;
  z-index: 1;
  display: inline-block;
  position: relative;
  white-space: normal;
  vertical-align: top;
  padding: 0 2px;
}

.slider .sliderMask .sliderContent .slider-item:first-child {
  padding-left: 0;
}

.simsLockup,
.trailerLockup {
  padding-right: 30px;
  font-size: .83333vw;
}

@media screen and (max-width: 1099px) and (min-width: 800px) {

  .simsLockup,
  .trailerLockup {
    font-size: 1.249995vw;
  }
}

.title-artwork,
.video-artwork {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  width: 100%;
  padding: 28.125% 0;
}

.simsLockup .video-artwork,
.trailerLockup .video-artwork {
  margin-bottom: .5vw;
  position: relative;
  z-index: 3;
  background-size: cover;
}

@media screen and (max-width: 1099px) and (min-width: 800px) {

  .simsLockup .video-artwork,
  .trailerLockup .video-artwork {
    margin-bottom: .75vw;
  }

}

.simsLockup .sims-artwork,
.simsLockup .trailer-artwork,
.trailerLockup .sims-artwork,
.trailerLockup .trailer-artwork {
  background-color: #1a1a1a;
}

.simsLockup .simsPlay,
.simsLockup .trailerPlay,
.trailerLockup .simsPlay,
.trailerLockup .trailerPlay {
  left: 50%;
  top: 50%;
  font-size: 4vw;
  height: 4.4vw;
  width: 4.4vw;
  margin-left: -2.1vw;
  margin-top: -2.1vw;
  border-radius: 50%;
  color: #fff;
  opacity: 0;
  position: absolute;
  z-index: 100;
  box-sizing: border-box;
  outline: 0;
  transition: all 150ms ease;
}

@media screen and (max-width: 1099px) and (min-width: 800px) {

  .simsLockup .simsPlay,
  .simsLockup .trailerPlay,
  .trailerLockup .simsPlay,
  .trailerLockup .trailerPlay {
    font-size: 6vw;
    height: 6.6vw;
    width: 6.6vw;
    margin-left: -3.15vw;
    margin-top: -3.15vw;
    border-radius: 50%;
    color: #fff;
    opacity: 0;
    position: absolute;
    z-index: 100;
    box-sizing: border-box;
    outline: 0;
    transition: all 150ms ease;
  }
}
