<p>profile-manage works!</p>
<div class="pinning-header on-profiles-gate">
    <div class="main-header on-profiles-gate" role="navigation">
        <a routerLink="/home" class="logo" routerLinkActive="active">
          <img src="../../../assets\images\fastflix_logo_03.png" alt="">
        </a>
    </div>
</div>
<div class="profiles-gate-container">
    <div class="list-profiles">
      <div class="profile-gate-label">프로필 관리</div>
      <div>
        <ul class="choose-profile">
          <li class="profile">
            <div>
              <a class="profile-link">
                <div class="avatar-wrapper">
                  <div class="profile-icon" style="background-image:url(https://occ-0-2794-1009.1.nflxso.net/art/0d282/eb648e0fd0b2676dbb7317310a48f9bdc2b0d282.png)"></div>
                    <span class="profile-name">Profile Name</span>
                </div>
              </a>
            </div>
          </li>
          <li class="profile">
            <div>
              <a class="profile-link">
                <div class="avatar-wrapper">
                  <div class="profile-icon" style="background-image: url(https://occ-0-2794-1009.1.nflxso.net/art/b546b/6e960989aa8d0c0ea64f90fb3a8d03b417ab546b.png);"></div>
                    <span class="profile-name">키즈</span>
                </div>
              </a>
            </div>
          </li>
          <li class="profile">
            <div>
              <a role="link" tabindex="0">
                <div class="addProfileIcon icon-tvuiAdd">
                </div>
                <span class="profile-name">프로필 추가</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
      <span class="profile-button preferred-action">
        <a routerLink="/profile/">완료</a>
      </span>
    </div>
  </div>
  <div class="centered-div" *ngIf="isManage" 
[ngStyle]="{opacity: isManage ? 1 : 0, transform: scale(1), 'transition-duration': '450ms', 'transition-delay': '200ms'}">
  <div class="profile-actions-container">
    <h1>프로필 추가</h1>
    <h2>FastFlix를 시청할 다른 사용자를 등록하시려면 프로필을 추가하세요.</h2>
    <div class="profile-metadata profile-entry">
      <div class="main-profile-avatar">
        <img src="https://art-s.nflximg.net/a7774/574ffd46d2bcef69802752f39db6320328fa7774.png" alt style="opacity: 1; transform: scale(1); transition-duration: 480ms;">
      </div>
      <div class="profile-add-parent">
        <div class="profile-entry-inputs">
          <input type="text" id="add-profile-name" class placeholder="이름">
          <label for="add-profile-name" aria-label="이름"></label>
          <input type="checkbox" id="add-kids-profile">
          <label for="add-kids-profile">
          </label>
          <span class="add-kids-marker" role="checkbox" aria-checked="false" tabindex="0">어린이인가요?</span>
        </div>
      </div>
    </div>
    <span class="profile-button preferred-action" tabindex="0" role="button">
      <span>다음</span>
    </span>
    <span class="profile-button" tabindex="0" role="button" (click)="isManage = false">
      <span>취소</span>
    </span>
  </div>
</div>