<nav class="sub-header">
  <div class="sub-header-wrapper">
    <div class="aro-gallery-header" *ngIf="currentRouting === '/movie'">
      <div class="title"></div>
      <div class="aro-genre-details"><span class="genreTitle">영화</span>
        <div class="subgenres">
          <div label="장르" cols="3" class="nfDropDown theme-lakira">
            <button class="label" (click)="showGenre = !showGenre" [class.open]="showGenre">장르
              <span class="arrow"></span>
            </button>
            <div class="sub-menu theme-lakira" *ngIf="showGenre" [@fadeInOut]
              [ngStyle]="{opacity: showGenre ? 1 : 0, 'transition-duration': '200ms'}">
              <ul class="sub-menu-list multi-column">
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/5685?bc=34399">한국 영화</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/1159493?bc=34399">미국 영화</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/78367?bc=34399">외국 영화</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/783?bc=34399">어린이 &amp; 가족</a>
                </li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/89844?bc=34399">영화제 수상!</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/52852?bc=34399">음악 &amp; 뮤지컬</a>
                </li>
              </ul>
              <ul class="sub-menu-list multi-column">
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/1365?bc=34399">액션</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/8933?bc=34399">스릴러</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/1492?bc=34399">SF &amp; 판타지</a>
                </li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/5824?bc=34399">범죄</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/8711?bc=34399">호러</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/2243108?bc=34399">다큐멘터리</a></li>
              </ul>
              <ul class="sub-menu-list multi-column">
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/7077?bc=34399">독립 영화</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/8883?bc=34399">로맨스</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/5763?bc=34399">드라마 장르 영화</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/6548?bc=34399">코미디</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/3063?bc=34399">일본 애니메이션</a></li>
                <li class="sub-menu-item"><a class="sub-menu-link" href="/browse/genre/31574?bc=34399">고전 영화</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="aro-toggle" [class.grid-selected]="isGrid">
          <button class="aro-row-toggle" aria-label="목록 뷰" tabindex="0" (click)="isGrid = false"><svg
              class="svg-icon svg-icon-rows" focusable="true">
              <use filter="" xlink:href="#rows">
                <svg id="rows" viewBox="0 0 16 16">
                  <path
                    d="M0,2 L16,2 L16,3.5 L0,3.5 L0,2 Z M0,7 L12,7 L12,8.5 L0,8.5 L0,7 Z M0,12 L16,12 L16,13.5 L0,13.5 L0,12 Z">
                  </path>
                </svg>
              </use>
            </svg>
          </button>
          <div class="aro-grid">
            <button aria-label="그리드 뷰" class="aro-grid-toggle" tabindex="0" (click)="isGrid = true">
              <svg class="svg-icon svg-icon-grid" focusable="true">
                <use filter="" xlink:href="#grid">
                  <svg id="grid" viewBox="0 0 16 16">
                    <path fill="currentColor"
                      d="M2,2 L6,2 L6,6 L2,6 L2,2 Z M2,10 L6,10 L6,14 L2,14 L2,10 Z M10,10 L14,10 L14,14 L10,14 L10,10 Z M10,2 L14,2 L14,6 L10,6 L10,2 Z">
                    </path>
                  </svg>
                </use>
              </svg>
            </button>
            <div class="sortGallery" *ngIf="isGrid">
              <div cols="1" class="nfDropDown widthRestricted theme-aro">
                <div class="label" (click)="showGridMenu = !showGridMenu">추천 콘텐츠
                  <span class="arrow"></span>
                </div>
                <div class="sub-menu theme-aro" *ngIf="showGridMenu" [@fadeInOut]
                  [ngStyle]="{opacity: showGridMenu ? 1 : 0, 'transition-duration': '200ms'}">
                  <ul class="sub-menu-list">
                    <li class="sub-menu-item"><a class="sub-menu-link" role="link" tabindex="0">추천 콘텐츠</a></li>
                    <li class="sub-menu-item"><a class="sub-menu-link" role="link" tabindex="0">출시일순</a></li>
                    <li class="sub-menu-item"><a class="sub-menu-link" role="link" tabindex="0">오름차순(ㄱ-Z)</a></li>
                    <li class="sub-menu-item"><a class="sub-menu-link" role="link" tabindex="0">내림차순(Z-ㄱ)</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="galleryHeader" *ngIf="currentRouting === '/mylist'">
      <div class="title">내가 찜한 콘텐츠</div>
    </div>
  </div>
</nav>
