/* sub-header */
.sub-header {
  z-index: 1;
  position: relative;
  height: 4rem;
}

.sub-header .sub-header-wrapper {
  position: absolute;
  height: 4rem;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 4%;
}

.sub-header .aro-gallery-header,
.sub-header .galleryHeader {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  min-height: 0;
  padding: 0;
  flex-grow: 1;
}

.aro-gallery-header {
  padding-top: 3vw;
  min-height: 44px;
  margin: 0 4%;
}

.aro-genre-details {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.aro-gallery-header .genreTitle {
  font-size: 2vw;
  font-weight: 700;
  white-space: nowrap;
  margin-right: 15px;
}

@media only screen and (max-width: 1024px) {
  .aro-gallery-header .genreTitle {
    font-size: 4vw;
  }
}


.aro-gallery-header .subgenres {
  display: inline-block;
  vertical-align: top;
  margin-top: 7px;
}

.aro-genre-details .subgenres {
  margin: 0 30px;
}

.nfDropDown.theme-lakira.open {
  z-index: 1;
}

.nfDropDown.theme-lakira {
  position: relative;
  text-align: left;
}

.nfDropDown.theme-lakira .label {
  height: 2rem;
  padding-left: 10px;
  line-height: 2rem;
  letter-spacing: 1px;
  font-size: .9rem;
  font-weight: 700;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, .9);
  display: inline-block;
  color: #fff;
  background-color: #000;
  appearance: none;
  border-radius: 0;
  position: relative;
  padding-right: 50px;
}

.nfDropDown.theme-lakira .label .arrow {
  border-color: #fff transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  height: 0;
  position: absolute;
  right: 10px;
  top: 44%;
  width: 0;
}

.sub-menu.theme-lakira {
  box-sizing: border-box;
  top: 71px;
  position: absolute;
  background-color: rgba(0, 0, 0, .9);
  color: #fff;
  font-size: 13px;
  line-height: 21px;
  border: solid 1px rgba(255, 255, 255, .15);
  cursor: default;
  opacity: 0;
}

.aro-gallery-header .subgenres .sub-menu {
  padding: 5px 0;
  z-index: 20;
}

.nfDropDown.theme-lakira .sub-menu {
  overflow-x: hidden;
  z-index: 2;
  padding: 0;
  margin: 0;
  top: 2rem;
  left: 0;
  font-size: 14px;
}

.sub-menu.theme-lakira a,
.sub-menu.theme-lakira div,
.sub-menu.theme-lakira li,
.sub-menu.theme-lakira span,
.sub-menu.theme-lakira ul {
  box-sizing: border-box;
}

.sub-menu.theme-lakira .sub-menu-list,
.sub-menu.theme-lakira .sub-menu-list-special {
  height: auto;
  padding: 1.1rem;
  cursor: default;
}

.sub-menu.theme-lakira .sub-menu-list-special.multi-column,
.sub-menu.theme-lakira .sub-menu-list.multi-column {
  display: table-cell;
}

.nfDropDown.theme-lakira .sub-menu .sub-menu-list,
.nfDropDown.theme-lakira .sub-menu .sub-menu-list-special {
  padding: 5px 0;
  margin: 0;
}

.sub-menu.theme-lakira .sub-menu-item,
.sub-menu.theme-lakira .sub-menu-item-special {
  cursor: default;
  line-height: 24px;
  display: block;
}

.sub-menu.theme-lakira .sub-menu-link {
  text-transform: none;
  display: inline-block;
  width: 100%;
  color: #fff;
}

.aro-gallery-header .subgenres .sub-menu .sub-menu-link {
  white-space: nowrap;
}

.nfDropDown.theme-lakira .sub-menu .sub-menu-link {
  display: inline-block;
  width: 100%;
  padding: 1px 0;
}

.nfDropDown.theme-lakira .sub-menu .sub-menu-item a {
  padding: 1px 20px 1px 10px;
}

.aro-toggle {
  margin-left: auto;
  display: flex;
  z-index: 2;
}


.aro-toggle .svg-icon-grid {
  width: 13px;
  height: 13px;
  color: #fff;
}

.aro-toggle .svg-icon-rows {
  width: 13px;
  height: 13px;
  fill: #fff;
}

.aro-toggle .aro-row-toggle {
  width: 44px;
  height: 30px;
  background: rgba(0, 0, 0, .7);
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aro-toggle.grid-selected .aro-row-toggle:hover {
  opacity: 1;
}

.aro-toggle.grid-selected .aro-row-toggle {
  cursor: pointer;
  opacity: .65;
  background: rgba(0, 0, 0, .1);
  border-right: none;
}

.aro-toggle .aro-grid {
  width: auto;
  display: flex;
  border: 1px solid #fff;
  opacity: .65;
  background: rgba(0, 0, 0, .1);
  border-left: none;
}

.aro-toggle .aro-grid:hover {
  opacity: 1;
}

.aro-toggle .aro-grid-toggle {
  display: flex;
  border: 0;
  height: 28px;
  width: 44px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.aro-toggle .aro-grid-toggle,
.aro-toggle .aro-row-toggle {
  background-color: transparent;
  padding: 0;
}

.aro-toggle.grid-selected .aro-grid {
  background: rgba(0, 0, 0, .7);
  opacity: 1;
  border-left: 1px solid #fff;
}

.aro-toggle.grid-selected .aro-grid-toggle {
  cursor: auto;
}

.aro-toggle .aro-grid-toggle:focus svg,
.aro-toggle .aro-row-toggle:focus svg {
  color: #fff;
  transform: scale(1.35);
  transition: transform 350ms cubic-bezier(.86, 0, .07, 1), -webkit-transform 350ms cubic-bezier(.86, 0, .07, 1), -moz-transform 350ms cubic-bezier(.86, 0, .07, 1), -o-transform 350ms cubic-bezier(.86, 0, .07, 1);
}

.nfDropDown.theme-aro {
  position: relative;
  text-align: left;
  min-width: 240px;
}

.nfDropDown.theme-aro.widthRestricted {
  display: inline-block;
  position: relative;
}

.nfDropDown.theme-aro .label {
  line-height: 28px;
  letter-spacing: 1px;
  font-size: 1rem;
  font-weight: 700;
  box-sizing: border-box;
  display: inline-block;
  color: #fff;
  background-color: rgba(0, 0, 0, .7);
  appearance: none;
  border-radius: 0;
  position: relative;
  padding: 0 50px 0 6px;
}

.nfDropDown.theme-aro.widthRestricted .label {
  width: 100%;
}

.nfDropDown.theme-aro .sub-menu {
  position: absolute;
  background-color: rgba(0, 0, 0, .9);
  overflow-x: hidden;
  z-index: 2;
  padding: 0;
  margin: 0;
  border: 1px solid #fff;
  top: 2rem;
  left: 0;
  font-size: 1rem;
  opacity: 0;
}

.nfDropDown.theme-aro.widthRestricted .sub-menu {
  min-width: 100%;
  white-space: nowrap;
}

.nfDropDown.theme-aro.widthRestricted .sub-menu .sub-menu-list,
.nfDropDown.theme-aro.widthRestricted .sub-menu .sub-menu-list-special {
  width: 100%;
}

.nfDropDown.theme-aro .sub-menu .sub-menu-link {
  display: inline-block;
  width: 100%;
  padding: 1px 0;
  color: #fff;
}

.nfDropDown.theme-aro .sub-menu .sub-menu-item a {
  padding: 1px 20px 1px 10px;
}

.aro-toggle .aro-grid-toggle:focus,
.aro-toggle .aro-row-toggle:focus {
  outline: 0;
}
